.bg-clr-light-blue-100 {
  background-color: var(--bg-light-blue);
}

.clr-white {
  color: var(--clr-white);
}

.clr-gray {
  color: #555555;
}

.bg-clr-white {
  background-color: var(--bg-clr-white);
}

.bg-clr-blue {
  background-color: var(--bg-clr-blue);
}



/*CARDS COLORS*/
.bg-clr-red {
  background-color: #FF6363;
}

.bg-clr-cyan {
  background-color: #63ECFF;
}

.bg-clr-purple {
  background-color: #F363FF;
}

.bg-clr-lime-green {
  background-color: #63FF73;
}

.bg-clr-yellow {
  background-color: #FFDD63;
}

.bg-clr-light-blue {
  background-color: #6663FF;
}